<!DOCTYPE html>
<html lang="fr-FR">

	{% include "elements/head.html" %}
	<body>
		{% include "elements/menu.html" %}
		<h1> page non développée </h1>
		<h2>(Erreur 402)</h2>
		<p> voulez-vous nous faire un don pour développer cette page: </p>
		<p> IBAN: FR76 1220 6015 0056 0287 7057 523 </p>
	</body>
</html>
