<!DOCTYPE html>
<html lang="fr-FR">

	{% include "elements/head.html" %}
	<body>
		{% include "elements/menu.html" %}
		<h1> page non trouvée </h1>
		<h2>(Erreur 404)</h2>
		<p> Lâchez votre ordi et venez nous voir en vrai !</p>
	</body>
</html>
