<!DOCTYPE HTML>
<html>
	{% include "elements/head.html" %}
	<body>
		{% include "elements/menu.html" %}
		<h1> une équipe : {{ une_equipe.nom }}</h1>
		<dl>
			<dt> identifiant de l'équipe'</dt> 
				<dd>{{ une_equipe.identifiant }}</dd>
			<dt> le type de l'équipe  </dt> 
				<dd>{{ une_equipe.type_equipe }}</dd>
			<dt> l'équipe est active ?  </dt> 
				<dd>{{ une_equipe.active }}</dd>
			<dt> place libre dans l'équipe </dt>
				 <dd>{{ une_equipe.place_libre }}</dd>
			<dt> la gouvernance  </dt>
				 <dd>{{ une_equipe.gouvernance }}</dd>
			<dt> l'indice de bien être  </dt> 
				<dd>{{ une_equipe.indic_bien_etre }}</dd>
		</dl>
	</body>

</html>
