<!DOCTYPE HTML>
<html>
	{% include "elements/head.html" %}
	<body>
		{% include "elements/menu.html" %}
		
		<h1> resultats </h1>
		<ul>
			{% for une_equipe in ma_liste %}
				<li>
					<h2>{{ une_equipe.nom }}</h2> 
					<p> {{ une_equipe.oeuvres }}</p>
					<a href="{{ url_for('participer_une_equipe',id_equipe=une_equipe.identifiant) }}" > détails info équipe </a>
				</li>
			{% endfor %}
		</ul>
	</body>

</html>
