<!DOCTYPE html>
<html lang="fr-FR">

	{% include "elements/head.html" %}
	<body>
		{% include "elements/menu.html" %}
		<h1> trouver une équipe que je peux aider </h1>
		<a class="bouton" href="{{url_for('participer_resultats')}}"> chercher </a>
	
	
	
	
	</body>
</html>
