body{
	margin: 0;
	background-color: darkorange; 
}

nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: center; 
	background-color: green;
	padding: 0.5em;
}
nav a {
	display: block;
	color: white;
	padding: 1em;
	text-decoration: none;
	text-align: center;
}

nav a:hover{
	color: lightgrey;
	border-bottom: .2em solid white;
	background-color: #108810;
}

nav figure {
	/* border: 1px solid red; */
}

nav ul {
	margin: 0;
	padding: 0;

}

nav li {
	list-style: none ;
}
nav li:hover{

}


/*
nav > ul{
	border: 1px solid orange;
}
*/
nav > ul > li {
	/* border: 1px dotted blue ; */
	margin: 0.3em ;
}

nav > ul > li li {
	/* border: 1px dotted black ; */
	margin: 0.3em ;
}


nav > ul:first-of-type {
	display: flex ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	justify-content: center ;
	align-items: stretch ;
	align-content: center ;
}

/* quand body n'a pas de classe connect : on affiche le lien de connexion et on efface le lien de deconnexion
*/
body nav ul.connexion > li:first-of-type {
	display: block;
}
body nav ul.connexion > li:last-of-type {
	display: none;
}

/* quand body est de classe connect : on efface le lien de connexion et on affiche le lien de deconnexion
*/
body.connect nav ul.connexion > li:first-of-type {
	display: none;
}
body.connect nav ul.connexion > li:last-of-type {
	display: block;
}




@media screen and (max-width :736px) {
	nav{
		flex-direction:column;
	}

	nav > ul:first-of-type{
		flex-direction: column;
	}

}








