<head>
	<title>Module Équipe</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/page.css') }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='javascript/main.js') }}" ></script>
</head>
