<nav>
	<figure>
		<img />
		<label> 
			<a href="{{ url_for('accueil') }}"> Accueil </a>
		</label>
	</figure>
	<ul>
		<li>
			<a href="{{ url_for('aider_moi') }}"> aidez-moi </a> 
		 </li>
		<li> <a href="{{ url_for('ouvrages') }}"> nouvelles et ouvrages </a> 
		 </li>
		<li> <a href="{{ url_for('participer') }}"> participer  </a>
		</li>
		<li> <a href="{{ url_for('comptabilite_finance') }}"> comptabilité et finance </a>
		</li>
		<li> <a href="{{ url_for('mes_equipes') }}"> mes équipes </a>
		</li> 
	</ul>
	<ul class="connexion" >
		<li> <a href="{{ url_for('connexion')}}" id="connexion"> connexion </a> </li>
		<li>
			<strong> M.truck </strong>
			<ul> 
				<li> 
					<a href="{{ url_for('profil') }}"> profil </a>
				</li> 
				<li>
					<a href="{{ url_for('deconnexion')}}" id="deconnexion"> se déconnecter </a> 
				</li>
			</ul>
		</li>
	</ul>
</nav>

